<h1>Jobs Page</h1>

<h2>Open Jobs</h2>

<% @open_jobs.each do |job| %>
	<p>Parent/Gaurdian: <%= link_to job.user.name, job_path(job) %></p>
	<p>Start Date and Time: <%= job.start_date_time %></p>
	<p>Duration: <%= job.duration %></p>
	<p>Address: <%= job.user.address %></p>
	<p>Your Payment: <%= job.payment %></p><br><br>
<% end %>


<%= link_to "Sitter Home Page", sitter_path(@sitter) %>