<h1>Open Job</h1>

<p>Parent/Guardian: <%= @job.user.name %></p>
<p>Start Date and Time: <%= @job.start_date_time %></p>
<p>Duration: <%= @job.duration %></p>
<p>Address: <%= @job.user.address %></p>
<p>Your Payment: <%= @job.payment %></p><br><br>

<%= form_for [@sitter, @job] do |f| %>
  <%= hidden_field_tag 'job[user_id]', @user.id%>
  <%= hidden_field_tag 'job[sitter_id]', @sitter.id%>

  <%= f.submit "Accept this Job" %>
<% end %>