<h1>Hello, <%= @user.name %></h1>

<h2>Your Jobs</h2>

<% @user.jobs.each do |job| %>

	<li>Sitter: <%= job.sitter.name %></li><br>
	Job Start: <%= job.start_date_time %><br>
	Job End: <%= job.end_date_time %><br>
	Total Payment: <%= job.payment %><br><br>
<% end %>

<%= link_to 'Add New Job', new_job_path %><br>
<%= link_to 'See Jobs Page', jobs_path %><br>
<%= link_to 'Log Out', user_path, method: "delete" %>
