<%= form_for @sitter do |f| %>
	<%= f.label :name, "Enter Name" %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :email, "Enter Email" %>
	<%= f.text_field :email %>
	<br>
	<%= f.label :password, "Enter Password" %>
	<%= f.password_field :password %>
	<br>
	<p> Note: One kid is at full hourly rate, each additional kid will be billed at half rate</p>
	<%= f.label :hourly_rate, "Hourly rate?" %>
	<%= f.number_field :hourly_rate %>
	<br>
	<%= f.label :sitter_phone, "Phone Number" %>
	<%= f.number_field :sitter_phone %>
	<br>
	<%= f.submit %>
<% end %>