<h1>Hello, <%= @sitter.name %></h1>

<h2>Your Jobs</h2>

<% @sitter.jobs.each do |job| %>

	<li>Parent/Guardian: <%= job.user.name %></li><br>
	Job Start: <%= job.start_date_time %><br>
	Job End: <%= job.end_date_time %><br>
	Total Payment: <%= job.payment %><br><br>
<% end %>